<link rel="stylesheet" href="/css/fontello.css">

<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.instagram -%}
			<a href="https://instagram.com/{{ site.texture.social_links.instagram }}"><li><i class="icon-instagram"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.baekjoon -%}
			<a href="https://acmicpc.net/user/{{ site.texture.social_links.baekjoon }}"><li><i class="icon-code"></i></li></a>
		{%- endif -%}
		
		<form action="/search">
			<div class="tipue_search_left">
			  <img src="/assets/tipuesearch/search.png" class="tipue_search_icon">
			</div>
			<div class="tipue_search_right">
			  <input type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" required></div>
			<div style="clear: both;"></div>
		  </form>
	</ul>
</div>
