{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="container">
	<h1>{{ page.title }}</h1>
	<h4 class="post-description">{{ page.description }}</h4>
	<div class="post-date" style="margin-top:20px">
		Published on {{ page.date | date: date_format }}
	</div>
	<ul class="post-tags">
		{%- for tag in page.tags -%}
			{%- if site.data.tags contains tag -%}
				<a href = "{{ site.url }}/category/:categories/{{ tag }}" >
					<li>{{ site.data.format[tag] }}</li>
				</a>
			{%- endif -%}
		{%- endfor -%}
	</ul>
</div>
